.container {

    height: var(--full-height);
    width: var(--full-width);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.heroText {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    background-color: burlywood;
}

.formForCreate {
    flex: 1;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    padding: 2rem 0;
}

.formElement {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

.formElement span {
    flex: 1;
    padding: 0.5rem;
    margin: 0.5rem;
}

.formElement input, .formElement select {
    flex: 4;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 5vh;
}

.bottom {
    width: var(--full-width);
}

.bottom > button {
    width: var(--full-width);
    height: 5vh;
}

.activityTypesContainer {
    display: flex;
    gap: 1px;
}

.activityTypesContainer > * {
    flex: 1;
    text-align: center;
    background-color: burlywood;
    padding: 1rem;
}

.activeActivityType {
    box-shadow: 1px 1px 5px #555 inset;
}
