.container {

    height: var(--full-height);
    width: var(--full-width);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main {
    flex: 1;
}

.heroText {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.walletBalance {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
}

.walletWholeAnalytics {
    border: 1px solid salmon;
    padding: 0.5rem;
    border-radius: 2px;
}

.incomeAndExpense {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
}

.timePeriods {
    display: flex;
    justify-content: space-evenly;
}

.timePeriods > * {
    background-color: coral;
    color: white;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 2px;
}

.timePeriodActive {
    background-color: white;
    color: coral;
    border: 1px solid coral;
}

.bottom {
    width: var(--full-width);
}

.addButton {
    width: var(--full-width);
    height: 5vh;
}