.container {

    height: var(--full-height);
    width: var(--full-width);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main {
    flex: 1;
}

.heroText {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    background-color: burlywood;
}

.walletBalance {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
}

.walletWholeAnalytics {
    margin-top: 1rem;
    border: 1px solid burlywood;
    padding: 0.5rem;
    border-radius: 2px;
}

.incomeAndExpense {
    padding: 0.2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
}

.timePeriods {
    display: flex;
    justify-content: space-evenly;
}

.timePeriods > * {
    background-color: burlywood;
    color: white;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 2px;
}

.timePeriodActive {
    background-color: white;
    color: burlywood;
    border: 1px solid burlywood;
}

.latestActivities {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activityTable {
    margin-top: 1rem;
    text-align: left;
}

.activityTable th, .activityTable td {
    padding: 0.5rem;
}

.activityTable .icon {
    padding: 0 0.5rem;
}

.activityTable tr:nth-child(odd) {
    color: white;
    background-color: burlywood;
}

.bottom {
    width: var(--full-width);
}

.addButton {
    width: var(--full-width);
    height: 5vh;
}